import React from 'react';
{{#if wantPropTypes}}
import PropTypes from 'prop-types';
{{/if}}

const {{ properCase name }} = ({

}) => (
  <>

  </>
);

{{#if wantPropTypes}}
{{ properCase name }}.propTypes = {

};
{{/if}}

export default {{ properCase name }};
